table {
  width: 100%; /* Make the table fill its container */
  border-collapse: collapse; /* Collapse borders for a cleaner look */
}

th,
td {
  border-bottom: 1px solid #ddd; /* Add a light border to cells */
  padding: 8px; /* Add padding for spacing between content and border */
  text-align: left; /* Align text to the left within cells */
}

th {
  background-color: #f2f2f2; /* Light gray background for headers */
  color: black; /* Dark text color for contrast */
  font-weight: bold; /* Bold text for header emphasis */
}

.delete-book{
    font-size: small;
    color: rgb(204, 0, 0);
    font-weight:900;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}